# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

In [ ]:
# for keyword, counter/iterator, in keyword, object

# for i in range(10):
#     print(i)
    
name = "Ryan Rhoades"
# for letter in name:
#     print(letter)

# print(len(name))
# for i in range(len(name)):
#     print(name[i])

print(name[4])

##### Using 'in' keyword

In [ ]:
#in is what accesses the items in an iterable
for i in range(15):
    print(i**2)

##### Continue Statement

In [ ]:
for i in range(20):
    print(i)
    
#will continue to the next iteration
for i in range(20):
    if i == 5 or i == 6:
        continue
    print(i)

##### Break Statement

In [ ]:
for i in range(10):
    print(i)

# will break out of current loop
print("\n")
for i in range(10):
    if i == 6:
        break
    print(i)

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration
for i in range(20):
    pass #todo: come do things with this later

# def my_func():
#     pass
    

# def my_func2():
#     for i in range(10):
#         print(i)
# my_func2()

##### Double For Loops

In [ ]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

In [ ]:
for i in range(5):
    for j in range(5):
        print(i + j)

In [ ]:
my_string = "Hello my name is Ryan. This is a cool class This is cool Have a nice day cool"

my_dict = {}

for char in my_string.split():
    if char not in my_dict:
        my_dict[char] = 1
    else:
        my_dict[char] += 1

print(my_dict)

print(my_dict.values())

### While Loops

In [ ]:
#while keyword, condition statement
#while loop will run based on the condition statement

counter = 0

while counter < 11:
    counter += 1
    print(counter)
   

    
print("\n")

num = 0
while num < 15:
    print(num**2)
    num += 1

In [ ]:
num = 0

while num < 10:
   
    num +=1
    print(num)

##### looping 'While True'

In [ ]:
# true as a condition for while loop to run
game_over = False
while True:
    print("Infinite Loop")
    if game_over == False:
        break

In [ ]:
game = True


my_list = [1, 2, 3, 4, 5, 6]
index = 0
while game:   
    if my_list[index] == 4:
        game = False
    print(my_list[index])
    index += 1

##### While & For Loops Used Together

In [ ]:
j = 0

while j < 10:
    print("\n While Loop Iteration: " + str(j))
    
    for i in range(2):
        print("For Loop Iteration: " + str(i))
        
    j += 1

 While Loop Iteration: 0
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 1
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 2
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 3
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 4
For Loop Iteration: 0
For Loop Iteration: 1

##### The Range Function

In [ ]:
# range(start, stop, step) - stop is required and start defaults to 0 if none is given
for i in range(10): #stop
    print(i)
print("\n")
for i in range(1, 10): #start, stop
    print(i)
print("\n")
for i in range(1, 10, 3): #start, stop, step
    print(i)

0
1
2
3
4
5
6
7
8
9


1
2
3
4
5
6
7
8
9


1
4
7

### String Manipulation Exercise

In [ ]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
# Loop through the names list, remove white space and capitalize the first letter of each name. Print each new name.

In [ ]:
for name in names:
    print(name.strip().title())

Connor
Max
Evan
Jordan

In [ ]:
for i in names:
    print(i.strip().title())

for i in range(len(names)):
     names[i] = names[i].strip().title()
print(names)

names_list = []
for name in names:
    print(name.strip().title())
    names_list.append(name.strip().title())
print(names_list)

Connor
Max
Evan
Jordan
['Connor', 'Max', 'Evan', 'Jordan']
Connor
Max
Evan
Jordan
['Connor', 'Max', 'Evan', 'Jordan']

In [ ]:
def unique(list1):
 
    # initialize a null list
    unique_list = []
 
    # traverse for all elements
    for x in list1:
        # check if exists in unique_list or not
        if x not in unique_list:
            unique_list.append(x)
    # print list
    for x in unique_list:
        print(x, end=" ")

print(unique(names))

Connor Max Evan Jordan None

## Lists

##### Declaring Lists

In [ ]:
our_list = [] #<-- empty list

names = ["Ryan", "Tenzin", "Austin", "Dylan", "Mohammad"]
numbers = [1, 2, 34, 4, 5, 6, 10]

print(names)

['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad']

##### Indexing a List

In [ ]:
# [start: stop: step] --> last item [-1]
names = ["Ryan", "Tenzin", "Austin", "Dylan", "Mohammad"]

#single index
print(names[2])

# Print Starting at index 1 and going to the end of the list
print(names[1:])

#Print starting at the beginning of the list and go to the specified index
print(names[:2])

#Print starting at index 1 and stepping by 2
print(names[1::2])

#print starting at the back and going to the front
print(names[::-1])

Austin
['Tenzin', 'Austin', 'Dylan', 'Mohammad']
['Ryan', 'Tenzin']
['Tenzin', 'Dylan']
['Mohammad', 'Dylan', 'Austin', 'Tenzin', 'Ryan']

### List Methods

##### .append()

In [ ]:
names = ["Ryan", "Tenzin", "Austin", "Dylan", "Mohammad"]
names.append('Alex')
print(names)
names.append('Kayla')
print(names)
names.append(2)
print(names)

['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Alex']
['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Alex', 'Kayla']
['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Alex', 'Kayla', 2]

In [ ]:
# names = ["Ryan", "Tenzin", "Austin", "Dylan", "Mohammad"]
# names2 = ["Bill", "Ted"]

# for name in names2:
#     names.append(name)
# print(names)

# names3 = names + names2
# print(names3)

['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Bill', 'Ted']
['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Bill', 'Ted', 'Bill', 'Ted']

##### .insert()

In [ ]:
#our_list.insert(index, value)
names.insert(3, "Sam")
print(names)

names.insert(4, 10)
print(names)

new_data = [5, 6, 1, 10, 11, 334, 1341, 1515]

for i in range(len(new_data)):
    if i == 3:
        new_data.insert(i, names[i])
print(new_data)

['Ryan', 'Tenzin', 'Austin', 'Sam', 'Sam', 10, 'Sam', 10, 'Dylan', 'Mohammad', 'Alex', 'Kayla', 2]
['Ryan', 'Tenzin', 'Austin', 'Sam', 10, 'Sam', 10, 'Sam', 10, 'Dylan', 'Mohammad', 'Alex', 'Kayla', 2]
[5, 6, 1, 'Sam', 10, 11, 334, 1341, 1515]

##### .pop()

In [ ]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

bye_bye_name = names.pop(3)
print(bye_bye_name)

print(names)

print(names.pop())
print(names)

Mohammad
['Ryan', 'Tenzin', 'Austin', 'Alex', 'Kayla', 2]
2
['Ryan', 'Tenzin', 'Austin', 'Alex', 'Kayla']

##### .remove()

In [ ]:
# value to be removed, not an index
names = ['Bob', 'Bob', 'Billy', 'Berry', "Bertha", 'Bob', 'Bert']

print(names)

while 'Bob' in names:
    names.remove('Bob')
print(names)

['Bob', 'Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']
['Billy', 'Berry', 'Bertha', 'Bert']

In [ ]:
names = ['Bob', 'Billy', 'Berry', "Bob", "Bertha", 'Bob', "Bob", 'Bert']

for name in names:
    if name == "Bob":
        names.remove(name)
print(names)

['Billy', 'Berry', 'Bertha', 'Bob', 'Bert']

### Working With Lists

##### del()

In [ ]:
# index to be removed, not value 
# BE CAREFUL with del, can cause an indexing error if not used carefully
del(names[0])
print(names)

SyntaxError: cannot delete literal (13714010.py, line 6)

##### min()

In [ ]:
# return the smallest item in a list
numbers = [3, 6, 1, 5, 10, -12]
print(min(numbers))

names = ["Ryan", "Alex", "Zoop", "Xenry"]
print(min(names))

-12
Alex

##### max()

In [ ]:
# returns largest item in a list

print(max(numbers))

print(max(names))

10
Zoop

##### sum()

In [ ]:
# return the sum of all numbers in a list

print(sum(numbers))

13

##### sorted()

In [ ]:
#sorted will return a new sorted list, create a new variable
numbers = [3, 6, 1, 5, 10, -12]

print(sorted(numbers))
sorted_nums = sorted(numbers)
print(sorted_nums)

[-12, 1, 3, 5, 6, 10]
[-12, 1, 3, 5, 6, 10]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [ ]:
#.sort() will sort the original list
numbers = [3, 6, 1, 5, 10, -12]
print("Numbers before sort", numbers)
print(numbers.sort())
print("Numbers after sort", numbers)
my_string = "hello"
title_string = my_string.title()
print(title_string)
print(my_string.title())
print(my_string)

Numbers before sort [3, 6, 1, 5, 10, -12]
None
Numbers after sort [-12, 1, 3, 5, 6, 10]
Hello
Hello
hello

##### Copying a List

In [ ]:
# [:] copies a list, doesn't alter original'
numbers = [3, 6, 1, 5, 10, -12]
new_list = numbers[:]

print(numbers)
print(new_list)

[3, 6, 1, 5, 10, -12]
[3, 6, 1, 5, 10, -12]

##### Looping Through Lists

In [ ]:
#Two ways to loop through a list. one is by index and the other is by value, using the "in" keyword
names = ["Han Solo", "Leia Organa", "Luke Skywalker", "Lando Calrissian", "Mace Windu"]
#looping by index
for i in range(len(names)):
    print(names[i])
    
print("\n")
    
#looping by value for each item in the list
for name in names:
    print(name)
    
#Return the index of Leia Organa

for i in range(len(names)):
    if names[i] == "Leia Organa":
        print(i)
        
#enumerate
for i, v in enumerate(names):
    if v == "Leia Organa":
        print(i)
        
for i, v in enumerate(names):
    print(i, v)
    
#(ヘ･_･)ヘ┳━┳     (╯‵□′)╯︵┻━┻

Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu


Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu
1
1
0 Han Solo
1 Leia Organa
2 Luke Skywalker
3 Lando Calrissian
4 Mace Windu

##### 'in' keyword

In [ ]:
names = ["Ryan", "Alex", "Tenzin", "Austin", "Jeong", "Nate"]

if "Nate" in names:
    print("Ranger")
else: 
    print("Not a ranger")

Ranger

In [ ]:
# for name in names:
#     if name[0] == "T":
#         print("IIIIIIITS TENZIN")
#     else:
#         print("tis not")

for name in names: 
    if "T" in name[0]:
        print("Tenzin")
    else:
        print("nope")

nope
nope
Tenzin
nope
nope
nope

In [ ]:
for i in range(len(names)):
    for j in range(len(names[i])):
        print(names[i][j])

IndentationError: expected an indented block (2703666223.py, line 3)

##### 'not in' keyword

In [ ]:
names = ["Ryan", "Alex", "Tenzin", "Austin", "Jeong", "Nate"]
if "Frederick" not in names:
    print("Frederick is not a Ranger, booooo Frederick")

Frederick is not a Ranger, booooo Frederick

##### Checking an Empty List

In [ ]:
l_2 = []
l_3 = None
if l_2 == []:
    print("That is an empty list. Would ya just look at it")
    
if l_3 == l_2:
    print("yes")
else: 
    print("no")

That is an empty list. Would ya just look at it
no

##### Removing Instances with a Loop

In [ ]:
#while, remove
names = ["Ryan", "Alex", "Tenzin", "Austin", "Jeong", "Nate"]
while "Ryan" in names:
    names.remove("Ryan")
print(names)
names = ["Ryan", "Alex", "Tenzin", "Austin", "Jeong", "Nate"]
#for loop, remove
for name in names: 
    if name == "Austin":
        names.remove("Austin")
print(names)

['Alex', 'Tenzin', 'Austin', 'Jeong', 'Nate']
['Ryan', 'Alex', 'Tenzin', 'Jeong', 'Nate']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [ ]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

In [ ]:
my_dict = {}

for name in names:
    if name not in my_dict:
        my_dict[name] = 1
        
print(list(my_dict.keys()))

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

In [ ]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

dogs = ["tucker","sam", "deliah","sam"]

def unique(list1):
    unique_list = []
    for x in list1:
        if x not in unique_list:
            unique_list.append(x)
    for x in unique_list:
        print(x, end=" ")
        
unique(dogs)

unique(names)

tucker sam deliah connor bob evan max 2 3 4 kevin

In [ ]:
def remove_dup(names):

    new_list_of_names = []

    for name in names:
        if name not in new_list_of_names:
            new_list_of_names.append(name)
    return new_list_of_names
print(remove_dup(names))

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

In [ ]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']

new_list = []
for name in names:
    if name not in new_list:
        new_list.append(name)
print(new_list)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

In [ ]:
def rem_dup(names):
    new_list = []
    for things in names:
        if things not in new_list:
            new_list.append(things)
    return new_list

print(rem_dup(names))

In [ ]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
my_dict = {}
index = 0

# for name in names:
#     if name not in my_dict:
#         my_dict[name] = 1
#     else:
#         names.remove(name)

while index < len(names):
    if names[index] not in my_dict:
        my_dict[names[index]] = 1
        index += 1
    else: 
        names.remove(names[index])
print(names)

['connor', 'max', 'evan', 2, 3, 4, 'bob', 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [transform, iteration/variable, condition]
```

In [ ]:
nums = [2, 4, 5, 6, 7, 8, 9, 10]
nums_squared = []

for num in nums:
    nums_squared.append(num**2)
print(nums_squared)

nums_squared = [x**2 for x in nums]

print(nums_squared)

nums_squared = [x**2 for x in nums if x%2 == 0]

print(nums_squared)

[4, 16, 25, 36, 49, 64, 81, 100]
[4, 16, 25, 36, 49, 64, 81, 100]
[4, 16, 36, 64, 100]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [ ]:
dogs = ["tucker","sam", "deliah","eyo"]

first_letters = [name[0] for name in dogs]

print(first_letters)

first_letters1 = []
for name in dogs:
    first_letters1.append(name[0])
print(first_letters1)

['t', 's', 'd', 'e']
['t', 's', 'd', 'e']

In [ ]:
dogs = ["tucker","sam", "deliah","eyo", "sean", "henri"]
s_names = []
for name in dogs:
    if name[0] == 's':
        s_names.append(name)
print(s_names)

#conditional in list comprehension
# if always comes after the for
s_names = [name for name in dogs if name[0] == "s"]

print(s_names)

['sam', 'sean']
['sam', 'sean']

In [ ]:
print([x**2 if x%2 == 0 elif x ==  else x for x in range(10)])

[0, 1, 4, 3, 16, 5, 36, 7, 64, 9]

In [ ]:
print([x**2 if x%2 == 0 else(x**3 if x%5 == 0 else x)for x in range(10)])

[0, 1, 4, 3, 16, 125, 36, 7, 64, 9]

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [ ]:
tup_1 = (1, 2, 3) #one way to create a tuple
tup_2 = 4, 5, 6 #another also nice way to create a tuple

print(tup_1)
print(tup_2)

print(type(tup_1))

print(tup_1[1])
print(tup_2[2])

print("tuple length", len(tup_2))

for num in tup_1:
    print(num)
    
for i in range(len(tup_2)):
    print(tup_2[i])

(1, 2, 3)
(4, 5, 6)
<class 'tuple'>
2
6
tuple length 3
1
2
3
4
5
6

##### sorted()

In [ ]:
tup = (20, 5, 1, 10, 95, 123)

print(sorted(tup))

some_list = [5, 12, 654, 234, 7643, 34]

# combine_list = some_list + tup

new_tup = tuple(some_list)

new_new_tup = new_tup + tup
print(new_new_tup)

[1, 5, 10, 20, 95, 123]
(5, 12, 654, 234, 7643, 34, 20, 5, 1, 10, 95, 123)

In [ ]:
# List Concatenation

my_list = [1, 2, 3, 4, 5]
my_list2 = [2, 3, 4, 5, 13, 12, 16, 1234]

my_list3 = my_list + my_list2

print(my_list3)

[1, 2, 3, 4, 5, 2, 3, 4, 5, 13, 12, 16, 1234]

##### Adding values to a Tuple

In [ ]:
print(tup)

tup = tup + (6, )
print(tup)

(20, 5, 1, 10, 95, 123, 5, 5, 5)
(20, 5, 1, 10, 95, 123, 5, 5, 5, 6)

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [ ]:
alist = [1,11,14,5,8,9]
less =[]
for i in alist:
  if i < 10:
    less.append(i)
print(less)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [6]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]
l_1.extend(l_2)
l_1.sort()
print (l_1)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]

## Exercise 3 <br>
<p>Square every number from 1 to 15<br>

In [5]:

for i in range(15+1):
  if not(i==0):
    print(i," squared = ",i**2)

1  squared =  1
2  squared =  4
3  squared =  9
4  squared =  16
5  squared =  25
6  squared =  36
7  squared =  49
8  squared =  64
9  squared =  81
10  squared =  100
11  squared =  121
12  squared =  144
13  squared =  169
14  squared =  196
15  squared =  225

## Exercise 4<br>
<p>Using List Comprehension and the given list, print out a filtered list with 
only the names that start with the letter 'a'. 
The names in the outputted list should be title cased and have no whitespace.<br>

In [3]:
classmates = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']
# expected output = ['Amy', 'Alex']
friends = [name.strip().title()
          for name in classmates if name.strip().title() != '']
print([friend for friend in friends if friend[0] == 'A'])

['Amy', 'Alex']

## Exercise 5 <br>
<p>Print all Prime numbers from 1 to 100<br>

In [1]:
# loop through each number from 1 to 100
for num in range(1, 101):
    # prime numbers are greater than 1
    if num > 1:
        # check if the number is divisible by any number smaller than itself
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            # if the number is not divisible by any number other than itself and 1, it is a prime number
            print(num)

prime 2
prime 3
prime 5
prime 7
prime 11
prime 13
prime 17
prime 19
prime 23
prime 29
prime 31
prime 37
prime 41
prime 43
prime 47
prime 53
prime 59
prime 61
prime 67
prime 71
prime 73
prime 79
prime 83
prime 89
prime 97